---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Why from "../components/Why.astro";
import Steps from "../components/Steps.astro";
import Screenshots from "../components/Screenshots.astro";
import RecentReports from "../components/RecentReports.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import WhatsNew from "../components/WhatsNew.astro";
import Support from "../components/Support.astro";
import Faq from "../components/Faq.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<Layout>
  <Hero />
  <main>
    <Why />
    <Steps />
    <Screenshots />
    <RecentReports />
    <Features />
    <Testimonials />
    <WhatsNew />
    <Support />
    <Faq />
  </main>
  <SiteFooter />
</Layout>
